jobDirName=grisu-jobs-dir
myProxyServer=myproxy2.arcs.org.au
myProxyPort=443
myProxyLifetime=1800
minProxyLifetimeBeforeRefresh=100
debug=true
mds-enabled=true

[InformationManager]
type = org.bestgrid.mds.SqlMDSInformationManager
databaseUrl = jdbc:mysql://mysql-bg.ceres.auckland.ac.nz/mds_test
user = grisu
password = RGHWI6u/m83G



